<div class="grid">

    <div class="col-12 back">
        <button pButton pRipple label="Retour" class="p-button-outlined" icon="pi pi-arrow-circle-left" (click)="back()"></button>
    </div>
    <div class="col-6 col-offset-3 ">
        <div class="text-center">
            <div class="col-12 sve">Votre score est</div>
            <div class="col-12 score" [ngClass]="getColor()">{{score?.score || 0}} %</div>
            <div class="col-12 tkx">Merci!</div>
        </div>
        <div class="col-12">
            <p-panel header="Les détails" [toggleable]="true" [collapsed]="true">
                <div class="grid">
                    <div class="col-6"><span class="pi-score"><i class="pi pi-calendar"></i> Date : </span>{{score?.scoreDate | date: 'dd-MM-yyyy HH:mm:ss'}}</div>
                    <div class="col-6"><span class="pi-score"><i class="pi pi-user"></i> Joueur :</span> {{score?.utilisateur?.nom}} {{score?.utilisateur?.prenom}}</div>
                    <div class="col-12"><span class="pi-score"><i class="pi pi-book"></i> Sujet : </span>{{score?.sujet?.titre}}</div>
                </div>
            </p-panel>
        </div>
    </div>
</div>