<div class="grid">
    <div class="col-6 col-offset-3 ">
        <div class="text-center">
            <div class="col-12 sve" >Votre score est</div>
            <div class="col-12 score">{{score?.score || 0}} %</div>
            <div class="col-12 tkx">Merci!</div>
        </div>
        <div class="col-12">
            <p-panel header="Les détails" [toggleable]="true" [collapsed]="true">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </p-panel>
        </div>
    </div>
</div>