<h1>Sujets</h1>

<p-table [value]="sujets" responsiveLayout="scroll" [contextMenu]="menu">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="titre">Titre <p-sortIcon field="titre"></p-sortIcon>
            </th>
            <th class="action" [ngStyle]="{'width':'90px'}" >Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sujet>
        <tr>
            <td>
                {{sujet.titre}}
            </td>
            <!-- Action -->
            <td class="action" [ngStyle]="{'width':'90px'}">
                <button pButton pRipple type="button" (click)="menu.toggle($event)" icon="pi pi-cog" class="p-button-rounded p-button-text" ></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-menu #menu [popup]="true" [model]="items"></p-menu>

