<p-dialog [header]="dialogTitle||'Titre'" [(visible)]="displayPosition" [position]="position" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div>
        <div class="grid p-fluid">
            <div class="col-12 ">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
                    <input type="text" pInputText placeholder="Sujet">
                </div>
            </div>
        </div>
        <p-panel header="Questions" [toggleable]="true" [collapsed]="true">
            <div class="grid p-fluid">
                <div class="col-12 ">
                    <input type="text" pInputText placeholder="Question">
                </div>
                <div class="col-12 ">
                    <textarea [rows]="3" pInputTextarea></textarea>
                </div>
                <div class="col-12 ">
                    <p-panel header="Réponses" [toggleable]="true" [collapsed]="true">
                        <div class="grid p-fluid">
                            <div class="col-12 ">
                                <input type="text" pInputText placeholder="Réponse">
                            </div>
                            <div class="col-12 ">
                                <p-button label="Ajouter une réponse"></p-button>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div class="col-12 ">
                    <input type="text" pInputText placeholder="Bonne Réponse">
                </div>
                <div class="col-12 ">
                    <p-button label="Ajouter une question"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>