<form [formGroup]="sujetForm" (ngSubmit)="submitSujet()">
    <p-dialog [header]="dialogTitle||'Titre'" [(visible)]="displayPosition" [style]="{width: '50vw'}" [position]="position" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
        <div>
            <!-- Sujet -->
            <div class="grid p-fluid">
                <div class="col-12 ">
                    <span class="requered-txt-title">Sujet</span><span class="requered">*</span> 
                </div>
                <div class="col-12 ">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
                        <input type="text" formControlName="titre" pInputText placeholder="Sujet">
                    </div>
                </div>
            </div>


            <!-- Questions  -->
            <ng-container formArrayName="questions">
                <div class="col-12 ">
                    <span class="requered-txt-title">Questions ( min 1 )</span><span class="requered">*</span> 
                </div>
                <p-panel header="Questions - {{questions.controls.length}}" [toggleable]="true" [collapsed]="true">
                    <div class="grid p-fluid" [formGroup]="questionForm">
                        <div class="col-12 ">
                            <span class="requered-txt-title">Titre</span><span class="requered">*</span> 
                        </div>
                        <div class="col-12 ">
                            <input type="text" formControlName="titre" pInputText placeholder="Question">
                        </div>
                        <div class="col-12 ">
                            <textarea [rows]="3" formControlName="detail" pInputTextarea placeholder="Details"></textarea>
                        </div>
                        <div class="col-12 ">

                            <!-- Réponses  -->
                            <ng-container formArrayName="reponses">
                                <div class="col-12 ">
                                    <span class="requered-txt-title">Réponses ( min 2 )</span><span class="requered">*</span> 
                                </div>
                                <p-panel header="Réponses - {{reponses.controls.length}}" [toggleable]="true" [collapsed]="true">
                                    <div class="grid p-fluid" [formGroup]="reponseForm">
                                        <div class="col-12 ">
                                            <span class="requered-txt-title">Titre</span><span class="requered">*</span> 
                                        </div>
                                        <div class="col-12 ">
                                            <input formControlName="titre" type="text" pInputText placeholder="Réponse">
                                        </div>
                                        <div class="col-12 ">
                                            <span class="requered-txt-title">Index de la réponse</span><span class="requered">*</span> 
                                        </div>
                                        <div class="col-12 ">
                                            <input type="text" formControlName="repdex" pInputText placeholder="Index de la réponse">
                                        </div>
                                        <div class="col-12 ">
                                            <p-button (click)="addReponse()" label="Ajouter une réponse" [disabled]="!reponseForm.valid"></p-button>
                                        </div>
                                        <div class="col-12 ">
                                            <ng-container *ngFor="let reponse of reponses.controls; let i = index">
                                                <p-card>
                                                    <div class="grid">
                                                        <div class=" col flex align-content-center">
                                                            <div class="text">{{reponse.value.titre}}</div>
                                                        </div>
                                                        <div class=" col ">
                                                            <div class="flex justify-content-end">
                                                                <button pButton pRipple type="button " (click)="updateReponse(i)" pTooltip="Modifier" icon="pi pi-pencil " class="align-content-center p-button-rounded p-button-text "></button>
                                                                <button pButton pRipple type="button " (click)="deleteReponse(i)" pTooltip="Supprimer" icon="pi pi-trash " class="align-content-center p-button-rounded p-button-danger p-button-text "></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p-card>
                                            </ng-container>
                                        </div>
                                    </div>
                                </p-panel>
                            </ng-container>
                        </div>
                        <div class="col-12 ">
                            <span class="requered-txt-title">Index de la bonne réponse</span><span class="requered">*</span> 
                        </div>
                        <div class="col-12 ">
                            <input type="text" formControlName="repdex" pInputText placeholder="Bonne Réponse">
                        </div>
                        <div class="col-12 ">
                            <p-button (click)="addQuestion()" label="Ajouter une question" [disabled]="!questionForm.valid"></p-button>
                        </div>
                        <div class="col-12 ">
                            <ng-container *ngFor="let question of questions.controls; let i = index">
                                <p-card>
                                    <div class="grid">
                                        <div class=" col flex align-content-center">
                                            <div class="text">{{question.value.titre}}</div>
                                        </div>
                                        <div class=" col ">
                                            <div class="flex justify-content-end">
                                                <button pButton pRipple type="button " (click)="updateQuestion(i)" pTooltip="Modifier" icon="pi pi-pencil " class="align-content-center p-button-rounded p-button-text "></button>
                                                <button pButton pRipple type="button " (click)="deleteQuestion(i)" pTooltip="Supprimer" icon="pi pi-trash " class="align-content-center p-button-rounded p-button-danger p-button-text "></button>
                                            </div>
                                        </div>
                                    </div>
                                </p-card>
                            </ng-container>
                        </div>
                    </div>
                </p-panel>
            </ng-container>

        </div>
        <div class="col-12 ">
            <span class="requered">*</span> <span class="requered-txt">Champs Obligatoire</span>
        </div>
        <ng-template pTemplate="footer">
            <p-button (click)="close() " label="Annuler " styleClass="p-button-text "></p-button>
            <p-button icon="pi pi-check" type="submit " label="Valider " [disabled]="!sujetForm.valid" styleClass="p-button-text "></p-button>
        </ng-template>
    </p-dialog>
</form>